electioncampaignprocessapi/src/main/mule/electioncampaignprocessapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="ElectionCampaignListenerConfig" doc:name="HTTP Listener config" doc:id="c8945452-7ee4-4811-a095-720c5b37d1b4">
		<http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="training_exercise_server-keystore.jks" keyPassword="training_exercise" password="training_exercise" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="b10946be-5a68-4764-a9de-5444a93c37ab" file="mule.${mule.env}.properties" />
	<http:request-config name="Twitter_Request_configuration" doc:name="HTTP Request configuration" doc:id="2f88d673-cbdb-47e5-8006-49f6c6db08a0" >
		<http:request-connection protocol="HTTPS" host="${twitter.api.host}" port="${twitter.api.port}">
			<tls:context >
				<tls:trust-store path="training_exercise_client_truststore.jks" password="training_exercise" type="jks" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<flow name="electioncampaignprocessapiFlow" doc:id="e39536bd-a616-4004-b866-133402e74505" >
		<http:listener doc:name="Listener" doc:id="21ac490f-b3ba-4280-ba59-b214e74348a4" config-ref="ElectionCampaignListenerConfig" path="/election/campaign"/>
		<http:request method="GET" doc:name="Request" doc:id="bec1441f-7afa-461e-a376-d995b3907e4b" path="/recent_tweets" config-ref="Twitter_Request_configuration">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"query" : attributes.queryParams.name
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
