TwitterAPIv2/src/main/mule/TwitterAPIv2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ae6ba00a-c473-4d77-81c3-718cb2873fab" >
		<http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="training_exercise_server-keystore.jks" keyPassword="training_exercise" password="training_exercise" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<http:request-config name="TwitterAPIv2Configuration" doc:name="HTTP Request configuration" doc:id="f4cc90c6-5f08-4384-830f-f653735b0ede" >
		<http:request-connection protocol="HTTPS" host="${api.url}" port="443" >
			<http:authentication >
				<oauth:client-credentials-grant-type clientId="${oauth2.client_id}" clientSecret="${oauth2.client_secret}" tokenUrl="${oauth2.token_url}" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="63f42b98-4b1f-43fc-9910-d9bf57ac869e" file="twitter.${mule.env}.properties" />
	<flow name="twitterintegrationprojFlow" doc:id="37a1dfb3-28fa-41e4-be5f-a58f92a2e30d" >
		<http:listener doc:name="Listener" doc:id="c8b5de10-ebf8-47b6-8c0e-22f9e0842dda" config-ref="HTTP_Listener_config" path="/recent_tweets" allowedMethods="GET"/>
		<http:request method="GET" doc:name="SearchQuery" doc:id="952abfc5-e1ef-48e9-8b97-a651a0517882" config-ref="TwitterAPIv2Configuration" path="/2/tweets/search/recent">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"tweet.fields" : "created_at",
	"expansions" : "author_id",
	"query" : attributes.queryParams.query,
	"user.fields" : "created_at"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="433264e6-28b6-4434-89b7-512e0596a040" message="#[payload]"/>
	</flow>
</mule>
